* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.container {
  margin: 0 auto;
  width: 30%;
}

h1 {
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
}

.user,
.user-details {
  display: flex;
  gap: 30px;
  text-decoration: none;
}

li:nth-child(even) {
  background-color: aliceblue;
}

.userphoto,
.username {
  border: 1px solid black;
}

.userphoto {
  width: 100px;
  height: 100px;
}

.username {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 70%;
}

.username p {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

.user-details {
  flex-direction: column;
  gap: 10px;
}

.bio,
.eachpost {
  border: 1px solid;
  padding: 2%;
}

.bio {
  margin-bottom: 10px;
}

.bio h4,
.eachpost h4 {
  margin-bottom: 20px;
}

.eachpost h6,
.post h6 {
  text-align: right;
}

.button {
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
  align-self: center;
  justify-self: center;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.post div {
  border: 1px solid;
  padding: 2%;
}

.gap {
  display: flex;
  gap: 30px;
}
